svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: #0C0C3C;
  fill-opacity: 1;
}
svg g:hover {
  fill: #7be3f6;
  fill-opacity: 0.7;
}
svg g:hover text {
  fill-opacity: 1;
}
svg g.q .hexagon {
  fill: Red;
  fill-opacity: 0.4;
}
svg g.r .hexagon {
  fill: Green;
  fill-opacity: 0.4;
}
svg g.s .hexagon {
  fill: Blue;
  fill-opacity: 0.4;
}
svg g.active  .hexagon {
  fill: Coral;
  fill-opacity: 0.9;
}
svg g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 1px;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill: none;
  stroke: #03090a;
  stroke-width: 1px;
  stroke-opacity: 0.9;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.map{
position: absolute;
top: -300px;
margin-left:  200px;
}

.title{
  margin-top: 0px;
  z-index: 1;
}

.hiddenLocation{
  position: absolute;
  top: 20px;
  left: 20px;
}
